<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments :: head">
</head>
<body>
<div th:replace="fragments :: header"></div>
<div class="contentText">
    <br>
    <div>
        <a href="/recipes" class="btn btn-primary mb-3">All recipes</a>
        <a href="/recipe/add" class="btn btn-primary mb-3">Add recipe</a>
        <a th:href="|/ingredient/add|" class="btn btn-primary mb-3">Add ingredient</a>
    </div>
    <h1 style="text-align: center" class="mt-4">TOP SPANISH RECIPES!</h1>
    <br>
    <div class="row mb-2">
        <div class="col-md-6">
            <div th:each="recipe: ${bestRecipes}" class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <div>
                        <h2 th:text="${recipe.title}"></h2>
                        <p th:text="|Preparation time: ${recipe.preparationTime} min|"></p>
                        <p th:text="|Category: ${recipe.category}|"></p>
                        <p th:text="|Portions: ${recipe.portions}|"></p>
                        <a th:href="|/recipe/${recipe.id}|" class="btn btn-primary mb-3">Show recipe</a>
                        <p th:text="|Likes: ${recipe.countLike}|"></p>
                        <a th:href="|/recipe/${recipe.id}/like|" class="btn btn-primary mb-3">Like</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>