<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments :: head">
</head>
<body>
<div th:replace="fragments :: header"></div>

<div class="contentText">
    <br>
    <div>
        <a class="btn btn-primary" href="/" role="button">Home</a>
        <a class="btn btn-primary" href="/recipe/add" role="button">Add recipe</a>
    </div>
    <br>
    <h2 class="mt-4" style="text-align: center">List of recipes</h2>
    <br>
    <a href="/recipes" class="btn btn-primary">All</a>
    <div style="display: inline-block" th:each="category : ${T(pp.spring.cookbook.category.Category).values()}">
        <a th:href="|/recipes/?category=${category.name}|" th:text="${category.getDisplayName()}" class="btn btn-primary"></a>
        <span> </span>
    </div>
    <table class="table  mt-4">
        <thead>
        <tr>
            <th>#</th>
            <th>Title of recipe</th>
            <th>Category</th>
            <th>Preparation time</th>
            <th>Portions</th>
            <th>Likes</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="recipe: ${recipes}"  >
            <td th:text="${recipe.id}"></td>
            <td>
            <a th:href="|/recipe/${recipe.id}|" th:text="|${recipe.title}|"> </a>
            </td>
            <td th:text="${recipe.category}"></td>
            <td th:text="${recipe.preparationTime}" style="text-align: center"></td>
            <td th:text="${recipe.portions}" style="text-align: center"></td>
            <td th:text="${recipe.countLike}" style="text-align: center"></td>
        </tr>
        </tbody>
    </table>
</body>
</html>