<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments :: head">
</head>
<body>
<div th:replace="fragments :: header"></div>
<body>
<div class="contentText">
    <h2 style="text-align: center" class="mt-4">Register</h2>
    <form th:action="@{/register}" method="post" th:object="${user}">
        <div class="mb-3">
            <label for="email" class="form-label">Your email</label>
            <input type="email" id="email" required class="form-control" th:field="*{email}">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" id="password" required class="form-control" th:field="*{password}">
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-primary mb-3">Register</button>
        </div>
    </form>
</div>
</body>
</html>