<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments :: head">
</head>
<body>
<div th:replace="fragments :: header"></div>
<body>
<div class="contentText">
    <h2 style="text-align: center" class="mt-4">Register</h2>
    <form th:action="@{/register}" method="post" th:object="${user}">
        <div class="mb-3">
            <label for="firstName" class="form-label">Name</label>
            <input type="text" id="firstName" required class="form-control" th:field="*{firstName}">
            <p style="color: red" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></p>
        </div>
        <div class="mb-3">
            <label for="lastName" class="form-label">Surname</label>
            <input type="text" id="lastName" required class="form-control" th:field="*{lastName}">
            <p style="color: red" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></p>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Username (email)</label>
            <input type="text" id="email" required class="form-control" th:field="*{email}">
            <p style="color: red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" id="password" required class="form-control" th:field="*{password}">
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-primary mb-3">Register</button>
        </div>
    </form>
</div>
</body>
</html>