<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments :: head">
</head>
<body>
<div th:replace="fragments :: header"></div>
<div class="contentText">
    <br>
    <div>
        <a class="btn btn-primary" href="/" role="button">Home</a>
    </div>
    <h2 class="mt-4" style="text-align: center">Edit user</h2>
    <form th:action="|/user/${userEdit.id}/edit|" method="post" th:object="${userEdit}">
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="text" required class="form-control" id="email" th:field="*{email}">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="text" required class="form-control" id="password" th:field="*{password}">
        </div>
        <div class="mb-3">
            <label for="category" class="form-label">Category</label>
            <select class="form-select" required id="category" th:field="*{roles}">
                <option selected value="" hidden>Brak</option>
                <option th:each="role : ${T(pp.spring.cookbook.user.Role).values()}"
                        th:value="${role}"
                        th:text="${role}">
                </option>
            </select>
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-primary mb-3">Save</button>
        </div>
    </form>
</div>
</body>
</html>